.gbcontainer {
  flex-grow: 1;
  padding: 0 2rem;
}

.link-button {
  height: 100%;
  padding: 2rem;
  text-decoration: none;
}

.link-button:hover,
.active {
  background-color: #009688;
}

.logo {
  padding: 0 2rem;
}

@media only screen and (max-width: 400) {
  .logo {
    display: none;
  }

  .link-button {
    padding: 1rem;
  }
}
