.data {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  color: #eee;
}

.data p,
.data a {
  font-size: 1.2rem;
  color: #eee;
}

.icon {
  transform: scale(1.4);
  margin-right: 1rem;
}

.linkedin {
  color: #eee;
  cursor: pointer;
}
