.personal {
  background: #B45F04;
}

.experience > :not(:last-child) {
  margin-bottom: 4rem;
}

.img {
  width: 100%;
  position: relative;
  border-radius: 10000px;
  left: -15px;
  margin-bottom: 2rem;
}

.about {
  font-size: 1.5rem;
}
